* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.selfInformation {
  display: flex;
  font-size: 2rem;
  transition: opacity 1s;
}
