body {
    
}

.mainPhoto {
    width: 100%;
    height: 500px;
    background-color: aqua;
}

.gallery {
    display: flex;
    justify-content: center;
}

.galleryPhotos {
    width: 2100px;
    height: 1000px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    

}

.photo img {
    width: 100%;
}

.photo {
    /* flex-wrap: wrap; */
    background-color: black;
    margin: 10px;
}
.media screen and (max-width: 500px)